/* ContactList.module.css */

.contactList {
    list-style-type: none;
    padding: 0;
}

.contactItem {
    display: flex;
    /* Додаємо властивість display: flex */
    justify-content: space-between;
    /* Розташовуємо елементи контакту у ряд */
    align-items: center;
    /* Вирівнюємо елементи по вертикалі */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
        flex-direction: column;
}

.contactItem:hover {
    background-color: #f0f0f0;
}

.contactName {
    font-weight: bold;
    margin-right: 5px;
}

.contactNumber {
    color: #666;
}

.deleteButton {
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #cc0000;
}